body {
    font-family: verdana, arial, serif;
    margin: 0;
}

#title {
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 310px;
    margin: auto 0 auto 5px;
}

#repostLink {
    text-decoration: none;
    border-radius: 3px;
    display: block;
    background: linear-gradient(to bottom, #999999, #bbbbbb);
    color: white;
    width: 80px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
}

#repostLink:hover {
    background: linear-gradient(to bottom, #6699FF, #66CCFF);
    -webkit-transition: background 2s;
    transition: background 2s;
}

.discussion {
    list-style-type: none;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
}

.discussion:hover {
    background: rgba(204, 204, 204, 0.5);
}

.link {
    text-decoration: none;
    color: #444444;
    font-size: 13px;
    font-weight: bold;
}

#data {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.age {
    font-size: 10px;
    color: #909090;
    height: 12px;
    margin: 5px 0 0 0;
}

.leftColumn {
    min-width: 60px;
}

.rightColumn {
    margin-left: 10px;
}

.score {
    font-size: 14px;
    text-align: center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(238, 238, 238, 0.9));
    color: #FF8000;
    box-shadow: 0 1px 3px #888888;
    border-radius: 8px;
    padding: 3px 5px 3px 5px;
    margin: 3px;
}