body {
    font-family: verdana, arial, serif;
    margin: 0;
}

.content-apart {
    display: flex;
    justify-content: space-between;
}

#title {
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: auto 5px;
}

#buttons {
    margin-left: 10px;
}

.link-button {
    text-decoration: none;
    border-radius: 3px;
    background: linear-gradient(to bottom, rgba(153, 153, 153, 1), rgba(170, 170, 170, 1) 10%);
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
}

.link-button:hover {
    background: linear-gradient(to bottom, rgba(255, 128, 0, 0.9), rgba(255, 178, 0, 0.9) 20%);
    -webkit-transition: background 2s;
    transition: background 2s;
}

#refresh-image {
    max-width: 10px;
}

#refresh-button {
    width: 20px;
}

#repost-button {
    margin-left: 10px;
    padding: 5px 10px;
}

.discussion {
    list-style-type: none;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
}

.discussion:hover {
    background: rgba(204, 204, 204, 0.3);
}

.link {
    text-decoration: none;
    color: #444444;
    font-size: 13px;
    font-weight: bold;
}

#data {
    padding: 10px;
    vertical-align: middle;
}

.age {
    font-size: 11px;
    color: #696969;
    margin: 5px 0 0 0;
}

.rightColumn {
    margin-left: 10px;
}

.score {
    font-size: 14px;
    text-align: center;
    background: linear-gradient(to bottom, rgba(255, 178, 0, 0.9), rgba(255, 128, 0, 0.9));
    color: white;
    box-shadow: 0 1px 3px #888888;
    border-radius: 8px;
    padding: 4px 5px;
    margin: 5px;
    min-width: 40px;
}

.bigScore {
    min-width: 50px;
}